.bg-color {
  background-color: black;
  color: white;
}

.site-body {
  width: 218vh;
  height: 100vh;
  transition: all 0.5s ease;
}

.conatiner {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 15px;
}

.heading {
  text-align: center;
}

.text {
  text-align: justify;
}

.change-language {
  display: inline-block;
}

.danger {
  background-color: red !important;
}